body{
    color: white;
    background-image: url("/static/images/vids/foto.gif");
    background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
}

.hero-image{
    position: relative;
    height: 200px;
    width: auto;
}

input [type="search"]{
border-color: gray;
}
aside {
    background: linear-gradient(135deg, var(blue), var(black));

}