@font-face {
    font-family: cyber-punk;
    src: url(./fonts/Cyber-Alert.woff);
}
body{
    background-image: url("./images/vids/foto.gif");
    background-repeat: no-repeat;
    background-size:cover;
    backdrop-filter: blur(1px);
    background-attachment: fixed;
}

.buscador{
border-color: gray;
height: 30px;
margin: 5px;
}
aside {
    background: linear-gradient(135deg, var(blue), var(black));

}
p,h1,h2{
    color: aliceblue;
}
.nabar{
    width: 100%;
    height: 50px;
    background-color: aquamarine;
    color: aqua;
    border: 2px solid white;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 30px;
    box-shadow: 4px 4px 0 #000; /* sombra estilo pixelada */
    
}
.nabar button{
    background-color: aquamarine;
    color: aqua;
    border: 2px solid white;
    border-radius: 8px;
    height: 40px;
    transition: 0.5s;
    margin-top:5px;
    position: relative;
    box-shadow: 5px;
    box-shadow: 4px 4px 0 #000; /* sombra estilo pixelada */
    
}   
button a{
    text-decoration: none;
}
.nabar button:hover{
    background-color: white;
    color: aqua;
    border: 2px solid white;
    border-radius: 8px;
    height: 40px;
    transform: scale(1.1);
    cursor: pointer;
    position: fixed;
}
.title{
    width: 500px;
    height: 100px;   
    background-color: aquamarine;
    color: aqua;
    border: 2px solid white;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: auto;
    margin-top: 100px;
    box-shadow: 4px 4px 0 #000; /* sombra estilo pixelada */

     
}
.title h1{
    color: blueviolet;
    font-family: cyber-punk;
    align-items: center;
    text-align: center;
}
