body{
    color: white;
    background-image: url("https://steamcommunity.com/sharedfiles/filedetails/?id=3065124088");
    background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100px;
  margin: 0;
}

.hero-image{
    
    position: relative;
    height: 200px;
    width: auto;
}

input [type="search"]{
border-color: gray;
}
aside {
    background: linear-gradient(135deg, var(blue), var(black));

}